{
  "presets": [
    "es2015",
    "stage-0",
    "react",
    ["env", {
      "targets": {
        "node": "current"
      },
      "plugins": [
        [
          "transform-runtime", {
          "polyfill": true,
          "regenerator": true
        }
        ],
        "transform-decorators-legacy",
        ["transform-imports", {
          "redux-form": {
            "transform": "redux-form/es/${member}",
            "preventFullImport": true
          },
          "reactstrap": {
            "transform": "reactstrap/lib/${member}",
            "preventFullImport": true
          }
        }]
      ]
    }]
  ]
}
