$primary: #50E3C2;
$success: #71D13E;
$danger: #fd5267;

$primary-dark: #523C5B;

$navbar-height: 56px;
$menu-width: 54px;
$menu-width-expanded: 200px;

$input-padding-x: 1.3rem;
$input-padding-y: 1.5rem;
$input-color: #dee4ea;

$input-height: 50px;

$input-placeholder-color: #ced4da;
$small-font-size: 12px;

$btn-padding-x: 0.75rem;
$btn-padding-y: 0.75rem;
$btn-font-weight: 500;

$border-color: #EDEDED;
$border-radius: 4px;
$border-width: 2px;
