@import 'src/client/scss/shared';

.fileRow {
  .fileWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    @include clearfix();

    .fileField {
      font-size: 80px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 9;
      cursor: pointer;

      &:hover {
        cursor: pointer;
        & + div {
          border-color: $gray-400;
          color: $gray-400;
          cursor: pointer;
        }
      }
    }

    .fileUploader {
      @include clearfix();
      display: inline-block;
      padding-top: 20px;
      width: 110px;
      height: 110px;
      border: 2px dashed $gray-300;
      border-radius: 7px;
      color: $gray-300;
      font-size: 50px;
      text-align: center;
      cursor: pointer;
      z-index: 10;

      &.withImage {
        border: none;
        overflow: hidden;
        padding: 0;

        .fileImg {
          width: 110px;
          height: 110px;
        }
      }

      &.withError {
        border-color: $danger!important;

        & + :global(.invalid-feedback) {
          display: block;
        }
      }
    }
  }
}


